.react-calendar-heatmap .color-scale-1 { fill: #535254; }
.react-calendar-heatmap .color-scale-2 { fill: #535254; }
.react-calendar-heatmap .color-scale-3 { fill: #535254; }
.react-calendar-heatmap .color-scale-4 { fill: #535254; }
